<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <services>
      <service name="WindowsApiService.TrainServices"
               behaviorConfiguration="WindowsApiServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9999/"/>
          </baseAddresses>
        </host>

        <endpoint address="TrainServices"
                  binding="wsHttpBinding"
                  contract="WindowsApiService.ITrainServices" />

        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WindowsApiServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
</configuration>