<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.1.1" targetFramework="net452" />
  <package id="Microsoft.Maps.MapControl.WPF" version="1.0.0.3" targetFramework="net452" />
  <package id="mongocsharpdriver" version="1.11.0" targetFramework="net452" />
  <package id="MongoDAO" version="2.0.1" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.2.0" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.2.0" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.2.0" targetFramework="net452" />
</packages>